{% extends "auctions/layout.html" %}

{% block body %}
<h1 class="pt-5 mx-5">Watchlist</h1>
<hr>
<div class="row my-2 mx-5">
    {% for listing in listings %}
    <div class="col-12 col-xl-5 card shadow-sm p-5 mt-5 justify-content-start">
        <div class="row align-items-center">
            <div class="col">
                <h3>{{ listing.title }}</h3>
                <hr>
                <h5>Description: {{ listing.description }}</h5>
                <hr>
                <h6>Details</h6>
                <hr>
                <p><strong>Starting Bid:</strong> ${{ listing.startBid }}</p>
                <p><strong>Current Price:</strong> ${{ listing.getCurrentPrice }}</p>
                <p><strong>Listed by:</strong> {{ listing.listedBy }}</p>
                <p><strong>Category:</strong> <span> <a
                            href="{% url 'categories' listing.category %}">{{listing.get_category_display}}</a></span>
                </p>
                <div><span class="badge badge-pill badge-info">Bids Placed: {{ listing.getBids|length }}</span></div>
                {% if listing.active == True %}
                <a class="btn btn-outline-dark rounded-pill my-2" href="{% url 'listing' listing.title %}">Listing
                    Details</a>
                <a class="btn btn-outline-info rounded-pill my-2" href="{% url 'userBids' %}">View your bids</a>
                {% else %}
                <div class="alert alert-danger my-1" role="alert">
                    Listing Closed
                </div>
                {% endif %}
            </div>
            <div class="col-auto">
                <img src="{{ listing.image }}" width="200">
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}