{% extends "users/layout.html" %}

{% block body %}
<!-- payment_method_form.html -->
<h3 class="mb-4 text-center">Add New Payment Method</h3>

<form class="form-group" method="post" action="{% url 'add_payment_method' %}" id="payment-form">
  {% csrf_token %}

  <!-- Include fields from the PaymentMethodForm -->
  <div class="mb-3">
    <label class="text-muted"
      for="{{payment_method_form.payment_option.id_for_label}}">{{payment_method_form.payment_option.label}}: </label>
    {{ payment_method_form.payment_option }}
  </div>

  <!-- Conditional display for CardPaymentForm -->
  <div id="card-payment" style="display: none;">
    {% for field in card_payment_form %}
    <div class="mb-3">
      <label class="text-muted" for="{{field.id_for_label}}">{{field.label}}: </label>
      {{ field }}
      <div id="{{field.label}}" class="text-muted"><small>{{field.help_text}}</small></div>
      {% if field.errors %}
      <div class="invalid-feedback">
        {{ field.errors }}
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>

  <!-- Conditional display for BkashPaymentForm -->
  <div id="bkash-payment" style="display: none;">
    {% for field in bkash_payment_form %}
    <div class="mb-3">
      <label class="text-muted" for="{{field.id_for_label}}">{{field.label}}: </label>
      {{ field }}
      <div id="{{field.label}}" class="text-muted"><small>{{field.help_text}}</small></div>
      {% if field.errors %}
      <div class="invalid-feedback">
        {{field.errors}}
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var paymentOptionSelect = document.querySelector('#id_payment_option');
    var cardPaymentDiv = document.querySelector('#card-payment');
    var bkashPaymentDiv = document.querySelector('#bkash-payment');
    // Initial toggle based on selected payment option
    togglePaymentForms();

    // Event listener for changes in the payment option
    paymentOptionSelect.addEventListener('change', togglePaymentForms);

    function togglePaymentForms() {
      var selectedOption = paymentOptionSelect.value;

      // Toggle visibility based on selected payment option
      cardPaymentDiv.style.display = (selectedOption === 'CC' || selectedOption === 'DC') ? 'block' : 'none';
      bkashPaymentDiv.style.display = (selectedOption === 'B') ? 'block' : 'none';

      // Add or remove the 'required' attribute based on visibility
      Array.from(cardPaymentDiv.querySelectorAll('input')).forEach(function (input) {
        input.required = (selectedOption === 'CC' || selectedOption === 'DC');
      });

      Array.from(bkashPaymentDiv.querySelectorAll('input')).forEach(function (input) {
        input.required = (selectedOption === 'B');
      });
    }

  });
</script>
{% endblock %}