{% extends "users/layout.html" %}

{% block body %}
<script src="https://accounts.google.com/gsi/client" async></script>
<h2 style="text-align: center;">Register</h2>

{% if message %}
<div class="alert alert-warning" style="text-align: center;">{{ message }}</div>
{% endif %}


<form action="{% url 'register' %}" method="post" class="mt-4" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group mb-3">
        {{ field }}
        {% if field.errors %}
        <div class="invalid-feedback">
            {{ field.errors }}
        </div>
        {% endif %}
    </div>
    {% endfor %}
    <input class="btn btn-secondary w-100" type="submit" value="Register">
    <center>
        <div class="row mt-4 align-items-center justify-content-center">
            <div class="col-auto">
                <h4 class="lead">Sign in using: </h4>
            </div>
            <div class="col-auto">
                <div id="g_id_onload"
                    data-client_id="100295696058-7iois28fokoq4u65v5jc1mhmk0feual0.apps.googleusercontent.com"
                    data-context="signin" data-ux_mode="redirect"
                    data-login_uri="http://localhost:3000/users/google-auth-receiver" data-auto_select="true"
                    data-itp_support="true">
                </div>

                <div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="outline"
                    data-text="signin_with" data-size="large" data-logo_alignment="left">
                </div>
            </div>
        </div>
    </center>
</form>

<hr>
<p class="text-center"><span>Already have an account? <a href="{% url 'login' %}"> </span>Log In here.</a></p>
{% endblock %}